.customSelect {
  :global(.ant-select-selector) {
    border-color: transparent !important;
    background-color: transparent !important;
  }
  :global(.ant-select-selection-wrap) {
    height: 100%;
  }
  :global(.ant-select-selection-search) {
    padding-inline-end: 0;
  }
}
